package {{JAVA_PACKAGE}};

import java.io.Closeable;
import java.io.IOException;

public interface Provider extends Closeable {

  /**
   * Reads characters into an array
   */
  int read(char buffer[], int offset, int length) throws IOException;
}