package {{PACKAGE}};

public interface {{PARSER_NAME}}Visitor
{
  {{RETURN_TYPE}} visit(Node node, {{ARGUMENT_TYPE}} data){{EXCEPTION}};
@if(IS_MULTI)
@foreach(node : NODES)
  {{RETURN_TYPE}} visit({{NODE_PREFIX}}{{node}} node, {{ARGUMENT_TYPE}} data){{EXCEPTION}};
@end
@fi
}