// disable warnings on parser header files
#pragma GCC diagnostic push
#pragma GCC diagnostic ignored "-Wunused-parameter"
#pragma GCC diagnostic ignored "-Wunused-variable"

#ifndef JAVACC_TREE_ONE
#define JAVACC_TREE_ONE

#include "Node.h"
@foreach(node : NODES)
#include {{node}}.h"
@end

#endif

#pragma GCC diagnostic pop